/node_modules
.env
.DS_Store


# firebase admin sdk json file
delivery-tracking-system-d7985-firebase-adminsdk-fbsvc-09342fb014.json

data/delivery_tracking_system_d7985_firebase_adminsdk_fbsvc_09342fb014.json
